.heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 30px;
  }
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top:0px;
    padding-bottom: 0px;
}
.logo{
    width: 125px;
}
.logo img{
    width: 150px;
    height: 36px;
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
}
.topnav a:hover{
    background-color:rgb(226, 226, 226);
    color: black;
}
.topnav a.active{
    background-color: rgb(151, 179, 255);
    color: white;
}
.topnav input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}