<!DOCTYPE html>
<html>
    <head>
        <title>EduHubForum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="forum.css">
    </head>
    <body>
      <div class="topnav">
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button id= "submit" type="submit">Submit</button>
            </form>
          </div>
        </div>
          <div class="container">
            <div class="wrapper">
              <section class="post">
                <header>Create Post</header>
                <form action="#">
                  <div class="content"> 
                    <div class="details">
                    </div>
                  </div>
                  <textarea id="myTextArea" placeholder="What's your question?" spellcheck="false" required></textarea><!--Add account name-->
                  <div class="options">
                    <p>Add to Your Post</p>
                    <ul class="list">
                        <li><img src="icons8-add-image-30.png" alt="gallery"></li>
                        <li><img src="icons8-account-30.png" alt="gallery"></li>
                        <li><img src="icons8-more-30.png" alt="gallery"></li>
                    </ul>
                    </div>
                    <button onclick="send123()"class="postb">Post</button>
                  </form>
                </section>
                </section>
              </div>
            </div>
            <hr>
            <div id="output">
            </div>
    </body>
</html>