<!DOCTYPE html>
<html>

<head>
    <title>EduHubForum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header>
        <ul>
            <li><a target="_blank" href="../../todolist/todolist.HTML">todolist</a></li>
            <li><a target="_blank" href="../../notepad/templates/notepad.html">notepad</a></li>
            <li><a target="_blank" href="../../main/templates/index.html">home</a></li>
            <li><a target="_blank" href="../../forum/templates/forum.html">forum</a></li>
        </ul>
    </header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="forum.css">
</head>

<body>
    <div class="topnav">
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button id="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
            <section class="post">
                <header id="myHeader">Create Post</header>
                <form action="#">
                    <div class="content">
                        <div class="details">
                        </div>
                    </div>
                    <textarea id="myTextArea" placeholder="What's your question?" spellcheck="false" required></textarea>
                    <!--Add account name-->
                    <div class="options">
                        <p>Add to Your Post</p>
                        <ul class="list">
                          <li><button class="btn" onclick="openFE()"><img src="icons8-add-image-30.png"></button></li>
                      </ul>

                    </div>
                    <button onclick="post()" class="postb">Post</button>
                </form>
            </section>
            </section>
        </div>
    </div>
    <hr>
    <div id="output">
    </div>
    <script src="forum.js"></script>
</body>

</html>