<!DOCTYPE html>
<html>

<head>
    <title> notepad </title>
    <header>
        <ul>
            <li><a target="_blank" href="todolist.html">todolist</a></li>
            <li><a target="_blank" href="notepad.html">notepad</a></li>
            <li><a target="_blank" href="index.html">home</a></li>
            <li><a target="_blank" href="forum.html">forum</a></li>
        </ul>
    </header>
</head>

<body>
    <link rel="stylesheet" href="notepadstyle.css">
    <script src="notepad.js"></script>
    <div class="format">
        <h1> Notepad, save all of your notes here</h1>

        <div class="button">
            <button type="button" onclick="makebold()" class="makebold" data-placement="top">Bold</button>
            <button type="button" onclick="makeitalic()" class="italic" data-placement="top">Italic</button>
            <button onclick="saveTextAsFile(notesarea.value,'notes.txt')">Download</button>
            <button type="button" onclick="cleartext()" class="cleartext" data-placement="top">Clear Text</button>
            <select id="fontsizedropdown" class="fontsize">
                <option value='8'>8</option>
                <option value='10'>10</option>
                <option value='12'>12</option>
                <option value='14'>14</option>
                <option value='16'>16</option>
                <option value='18'>18</option>
                <option value='20'>20</option>
                <option value='22'>22</option>
                <option value='24'>24</option>
                <option value='26'>26</option>
                <option value='28'>28</option>
                <option value='30'>30</option>
                <option value='32'>32</option>
                <option value='34'>34</option>
                <option value='36'>36</option>
            </select>
        </div>
        <textarea id="notesarea" placeholder="Write and manage your notes here" rows="15" cols="100"></textarea>
        <br>

        <br>
    </div>



</body>


</html>