.main {
    margin: auto;
    width: 90%;
    height: 90%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.fontsize {
    color: rgb(27, 100, 235);
    margin-left: 30px;
    margin-bottom: 25px;
    font-size: 32px;
    border-radius: 10px;
    width: 100px;
    border-color: #00a8f7;
    border-width: thick;
}

.changefont {
    color: rgb(27, 100, 235);
    margin-left: 30px;
    margin-bottom: 25px;
    font-size: 32px;
    border-radius: 10px;
    width: 100px;
    border-color: #00a8f7;
    border-width: thick;
}

textarea {
    padding: 5%;
    border-color: #00a8f7;
    border-width: thick;
    border-radius: 10px;
    font-size: 20px;
}

button {
    color: rgb(27, 100, 235);
    margin-left: 30px;
    margin-bottom: 25px;
    font-size: 32px;
    border-radius: 10px;
    background-color: transparent;
    border-color: #00a8f7;
    border-width: thick;
}

.buttonbar {
    margin-left: 400px;
}

h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.mainnotesarea {
    width: 90%;
    height: 375px;
    justify-content: center;
    align-items: center;
}

header,
ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

header {
    background-color: #000000c9;
    box-shadow: 0 0 20px 0 #6246ea;
}

header ul li {
    list-style-type: none;
}

header ul li:not(:nth-child(3)) {
    margin-right: 30px;
}

header ul li a:hover {
    transition: 0.1s all;
    background-color: #000000d5;
}

header ul li a {
    color: rgb(231, 5, 5);
    font-weight: bold;
    font-size: 30px;
    outline: none;
    text-decoration: none;
    transition: 0.3s all;
    padding: 13px 20px;
    border-radius: 5px;
}