<!DOCTYPE html>
<html>

<head>
    <title> its a title idk what more </title>
    <header>
        <ul>
            <li><a target="_blank" href="../../todolist/todolist.HTML">todolist</a></li>
            <li><a target="_blank" href="../../notepad/templates/notepad.html">notepad</a></li>
            <li><a target="_blank" href="../../main/templates/index.html">home</a></li>
            <li><a target="_blank" href="../../forum/templates/forum.html">forum</a></li>
        </ul>
        <link rel="stylesheet" href="style.css">
    </header>
</head>

<body>
    <button type="button">Chat</button>
</body>


</html>